<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Box Logo" src="./assets/box.png">
</div>
<!-- (ngSubmit)="calculate(numOf1000g, numOf400g, numOf200g)" -->
<form>
  <div class="form-group">
    <label for="boxEdgeLength">Box edge length:</label>
    <input type="number" [(ngModel)]="boxEdge" name="boxEdgeLength" class="form-control" id="boxEdgeLength">
  </div>
  <div class="form-group">
    <label for="product1000g">1000g</label>
    <input type="number" [(ngModel)]="numOf1000g" name="product1000g" class="form-control" id="product1000g">
  </div>
  <div class="form-group">
    <label for="product400g">400g</label>
    <input type="number" [(ngModel)]="numOf400g" name="product400g" class="form-control" id="product400g">
  </div>
  <div class="form-group">
    <label for="product200g">200g</label>
    <input type="number" [(ngModel)]="numOf200g" name="product200g" class="form-control" id="product200g">
  </div>
  <button (click)="reset()" class="btn btn-primary">Reset</button>
  <button (click)="calculate(numOf1000g, numOf400g, numOf200g)" class="btn btn-primary">Submit</button>

  <br>
  <h2 *ngIf="numOfBoxesRequired != 0">Boxes Required: {{numOfBoxesRequired}}</h2>
</form>